In [1]:
pip install pandas as pd

Requirement already satisfied: pandas in e:\nei\tecnologia\machine learning\new_project\virtual\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [2]:
data = {
    'fulano': [3,2,0,1],
    'ciclano':[0,3,7,2]
}
tabela = pd.DataFrame(data)
tabela

NameError: name 'pd' is not defined

In [4]:
import pandas as pd

In [5]:
data = {
    'fulano': [3,2,0,1],
    'ciclano':[0,3,7,2]
}
tabela = pd.DataFrame(data)
tabela

   fulano  ciclano
0       3        0
1       2        3
2       0        7
3       1        2

In [1]:
import pandas as pd

In [2]:
data = {
    'fulano': [3,2,0,1],
    'ciclano':[0,3,7,2]
}
tabela = pd.DataFrame(data)
tabela

   fulano  ciclano
0       3        0
1       2        3
2       0        7
3       1        2